.row {
    display: flex;
    height: 30px;
    width: fit-content;
  }
  
  .grid-square {
    display: flex;
    width: 30px;
    border: 1px solid black;
  }

#container {
    margin: 30px;
    border: 20px solid transparent;
    border-bottom: 100px solid transparent;
    border-image: url(/etchasketch1.jpg) 30 round;
    border-image-slice: 15% 15% 25% 15%;
  }

  