.row {
    display: flex;
  }
  
  .grid-square {
    flex-grow: 1;
    height: 30px;
    border: 1px solid black;
  }

#container {
    margin: 30px;
    border: 20px solid transparent;
    border-bottom: 100px solid transparent;
    border-image: url(/etchasketch1.jpg) 30 round;
    border-image-slice: 15% 15% 25% 15%;
  }

@media screen and (max-width: 480px) {
    .grid-square {
      height:10px;
    }
  }

  .clearBtn{

  }
  