.row {
    display: flex;
  }
  
.grid-square {
    flex-grow: 1;
    height: 50px;
    width: 1px;
    background-color: hsl(40 ,56%,76%);
      
  }

#container {
    margin: 30px;
    border: 20px solid transparent;
    border-bottom: 100px solid transparent;
    border-image: url(https://m.media-amazon.com/images/I/71Rw9Nr1czL._AC_UF894,1000_QL80_.jpg) 30 round;
    border-image-slice: 15% 15% 25% 15%;
  }

@media screen and (max-width: 480px) {
    .grid-square {
      height:10px;
    }
  }

  
#button-container {
    text-align: left;
  }